@charset "UTF-8";

/* -------------------------------- 웹폰트 -------------------------------- */
/* 원스토어 pop */
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 나눔 스퀘어 네오 */
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* -------------------------------- 전체 설정 -------------------------------- */
* {
	margin	: 0;
	padding	: 0;
	
	/* 폰트 글씨체 */
	font-family	: gulim, sans-serif;
	font-weight	: 400;
	font-style	: normal;
/* 	font-family	: 'NanumSquareNeo-Variable', sans-serif; */
}

body {
	/* 폰트 사이즈 */
	font-size	: 18px;
	/* 폰트 색상 */
	color		: #000;
	
	/* 배경색 위에서 부터 아래로 그라데이션!! */
	background	: linear-gradient(#FCF4EF, 3%, #fff);
}

/* 전체 ul(리스트) */
ul {
	/* ul 특유의 리스트 점 없애는 것 */
	list-style	: none;
}

/* 전체 링크 */
a {
	/* 링크 폰트 색상 */
	color	: #000;
	/* 링크 밑줄 없애기 */
	text-decoration	: none;
}

/* 감출 요소 */
.hidden_O {
	/* visibility : hidden - 숨김 (영역차지) */
	visibility	: hidden;
}
.hidden_X {
	/* display : none - 숨김 (영역삭제) */
	display	: none;
}


/* -------------------------------- 전체 영역 -------------------------------- */
/* 고정된 창 제외 전체 감싸는 div */
#all_div {
	/* width 가로폭 */
	width	: 1200px;
	/* margin 상하단 0 좌우 자동(중앙정렬) */
	margin	: 20px auto;
	/* 해당 박스의 영역을 벗어 나면 보이지 않게끔!! */
	overflow: hidden;
	
	/* 일단 보기 편하시라고 선그어놨어용 */
/* 	border	: 1px solid #ccc; */
	
	/* 배경색 위에서 부터 아래로 그라데이션!! */
/* 	background	: linear-gradient(#FCF4EF, #fef9f7, #fff); */
}

/* -------------------------------- 상단 header -------------------------------- */
/* 상단 전체 */
#header {
	/* 일단 보기 편하시라고 선그어놨어용 */
/* 	border-bottom	: 1px solid #ccc; */
}

/* 상단 로고부분 양옆 영역 지정 */
#header .logoSide {
	width	: 490px;
	height	: 120px;
}

/* 상단 로고 배치 */
#header #logoLeft {
	/* 해당 블럭 오른쪽에 다른 무언가가 와도 괜찮다는 표시 */
	float	: left;
}
#header #logo {
	/* 해당 블럭 오른쪽에 다른 무언가가 와도 괜찮다는 표시 */
	float	: left;
	
	width	: 180px;
	height	: 91px;
	margin	: 15px 20px;
	
	/* 중앙배치 */
	text-align: center;
}
#header #logoRight {
	/* 해당 블럭 왼쪽에 다른 무언가가 와도 괜찮다는 표시 */
	float	: right;
}

/* 상단 로고 이미지 */
#logo img {
	width	: 100%;
	height	: auto;
	
}

/* 상단 메뉴 전체 */
.nav {
	width	: 100%;
	/* float에 영향 받지 않고 하단에 깔아두고 싶다는 의미 */
	clear	: both;
}

.nav * {
	/* 폰트 */
	font-family	: 'ONE-Mobile-POP';
	/* 폰트 색상 */
	color	: #93A603;
	/* 폰트 사이즈 */
	font-size	: 25px;
	/* 폰트 테두리 */
	text-shadow	: -1px 0 #fff,		0 1px #fff,		1px 0 #fff,		0 -1px #fff,
				  -1px -1px #fff,	1px -1px #fff,	-1px 1px #fff,	1px 1px #fff;
	
	/* 중앙배치 */
	text-align	: center;
/* 	transform	: translateY(-50%); */
	
	background-color	: #AC7B53;
}

/* 상단 메뉴 버튼 영역 */
.nav nav ul li {
	/* 상단 메뉴바 가로 정렬 */
	/* 해당 블럭 오른쪽에 다른 무언가가 와도 괜찮다는 표시 */
	float	: left;
	
	/* 영역 지정 */
	width	: 200px;
	height	: 30px;
	
	/* 영역 확장 */
	padding	: 0 20px;
}

/* 상단 메뉴 버튼 영역 */
.nav .menu_link div {

	/* 영역 지정 */
	width	: 100%;
	height	: 100%;
}

/* -------------------------------- 중앙 center -------------------------------- */
/* 중앙 전체 */
#center {
	/* width 가로폭 */
 	width	: 100%; 
 	
	/* float에 영향 받지 않고 하단에 깔아두고 싶다는 의미 */
	clear	: both;
}


/* -------------------------------- 우측 right -------------------------------- */
/* 우측 전체 */
#right {
	/* width 가로폭 */
	width	: 200px;
	/* 해당 블럭 왼쪽에 다른 무언가가 와도 괜찮다는 표시 */
	float	: right;
}


/* -------------------------------- 하단 footer -------------------------------- */
/* 하단 전체 */
#footer {
	/* float에 영향 받지 않고 하단에 깔아두고 싶다는 의미 */
	clear	: both;
	/* 해당 박스의 영역을 벗어 나면 보이지 않게끔!! */
	overflow: hidden;
	/* 일단 보기 편하시라고 선그어놨어용 */
/* 	border-top	: 1px solid #ccc; */
	
	text-align: center;
}


/* -------------------------------- 사이드 바 -------------------------------- */
/* 사이드바 몸통 */
#sideBar {
	/* width 가로폭 */
	width	: 70px;
	/* height 세로폭 */
	height	: 500px;
	
	/* 중앙 정렬 */
	text-align: center;
	
	/* 테두리 둥글게 */
	border-radius	: 10px;
	
	/* 배경 색상 */
	background-color	: #F0F2CC;
	
	/* 화면 스크롤 해도 고정하게 하는 */
	position	: fixed;
	
	/* 위치 지정 */
	top	: 20%;
	right	: 1%;
	
	/* 10층에 쌓아서 아래의 요소보다 위에 드러남 */
	z-index	: 10;
}

#sideBar * {
	/* 폰트 */
	font-family	: 'ONE-Mobile-POP';
}

/* 사이드바 버튼 */
#sideBar div {
	/* margin div 주위 영역 */
	margin	: 5px 5px;
	
	/* width 가로폭 */
	width	: 60px;
	/* height 세로폭 */
	height	: 50px;
	
	/* 테두리 둥글게 */
	border-radius	: 10px;
	
	/* 배경색 */
	background-color	: #fff;
}

/* -------------------------------- 상단 searchBar -------------------------------- */
/* 검색창 몸통 */
#searchBar {
	/* float에 영향 받지 않고 하단에 깔아두고 싶다는 의미 */
	clear	: both;
	
	/* #all_div의 약 67% 가로 폭 */
	width	: 800px;
	height	: 80px;
	
	/* 테두리 둥글게 */
	border-radius	: 10px;
	
	/* 좌우 중앙 정렬 */
	margin	: 0 auto;
	text-align: center;
	
	/* 배경 색상 */
	background-color	: #fff;
	
	/* 화면 스크롤 해도 고정하게 하는 */
	position	: fixed;
	
	/* 위치 지정 */
	top	: 30%;
	right	: 25%;
	
	/* 12층에 쌓아서 아래의 요소보다 위에 드러남 */
	z-index	: 12;
}
/* 신고창 몸통 */
#singo {
	/* float에 영향 받지 않고 하단에 깔아두고 싶다는 의미 */
	clear	: both;
	
	/* #all_div의 약 67% 가로 폭 */
	width	: 800px;
	height	: 80px;
	
	/* 테두리 둥글게 */
	border-radius	: 10px;
	
	/* 좌우 중앙 정렬 */
	margin	: 0 auto;
	text-align: center;
	
	/* 배경 색상 */
	background-color	: #fff;
	
	/* 화면 스크롤 해도 고정하게 하는 */
	position	: fixed;
	
	/* 위치 지정 */
	top	: 30%;
	right	: 25%;
	
	/* 12층에 쌓아서 아래의 요소보다 위에 드러남 */
	z-index	: 12;
}

/* 검색창 X버튼 */
#searchBar div {
	
	/* #searchBar 사이즈 */
	width	: 13px;
	height	: 19px;
	
	/* 위치 지정 */
	margin-right	: 1%;
	margin-left	: 98%;
}

/* 검색 시 어둡게 */

#shadow{
	position	: fixed;
	left	: 0;
	top		: 0;
	width	: 100vw;
	height	: 100vh;
	background	: rgba(0, 0, 0, 0.52);
	display	: none
	
	/* 11층에 쌓아서 아래의 요소보다 위에 드러남 */
	z-index	: 11;
}