@charset "UTF-8";

/* -------------------------------- 웹폰트 -------------------------------- */
/* 원스토어 pop */
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 나눔 스퀘어 네오 */
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* -------------------------------- 전체 설정 -------------------------------- */
* {
	margin	: 0;
	padding	: 0;
	
	/* 폰트 글씨체 */
/* 	font-family	: 'NanumSquareNeo-Variable', sans-serif; */
	font-family	: gulim, sans-serif;
	font-weight	: 400;
	font-style	: normal;
}

body {
	/* 폰트 사이즈 */
	font-size	: 18px;
	/* 폰트 색상 */
	color		: #000;
	
	/* 배경색 위에서 부터 아래로 그라데이션!! */
/* 	background-color	: #fef9f7; */
	background	: linear-gradient(#FCF4EF, 3%, #fff);
}

/* 전체 ul(리스트) */
ul {
	/* ul 특유의 리스트 점 없애는 것 */
	list-style	: none;
}

/* 전체 링크 */
a {
	/* 링크 폰트 색상 */
	color	: #000;
	/* 링크 밑줄 없애기 */
	text-decoration	: none;
}

/* 감출 요소 */
.hidden_O {
	/* visibility : hidden - 숨김 (영역차지) */
	visibility	: hidden;
}
.hidden_X {
	/* display : none - 숨김 (영역삭제) */
	display	: none;
}


/* -------------------------------- 전체 영역 -------------------------------- */
/* 고정된 창 제외 전체 감싸는 div */
#all_div {
	/* width 가로폭 */
	width	: 1200px;
	/* margin 상하단 0 좌우 자동(중앙정렬) */
	margin	: 0 auto;
	padding	: 20px auto;
	/* 해당 박스의 영역을 벗어 나면 보이지 않게끔!! */
	overflow: hidden;
	
	z-index	: 5;
	
	/* 배경색 위에서 부터 아래로 그라데이션!! */
/* 	background	: linear-gradient(#FCF4EF, 3%, #fff); */
}

/* -------------------------------- 상단 header -------------------------------- */
/* 상단 전체 */
#header {
	/* 일단 보기 편하시라고 선그어놨어용 */
/* 	border-bottom	: 1px solid #ccc; */
}

/* -------------------------------- 상단 logo -------------------------------- */
/* 상단 로고부분 양옆 영역 지정 */
#header .logoSide {
	width	: 490px;
	height	: 120px;
}

/* 상단 로고 배치 */
#header #logoLeft {
	/* 해당 블럭 오른쪽에 다른 무언가가 와도 괜찮다는 표시 */
	float	: left;
}
#header #logo {
	/* 해당 블럭 오른쪽에 다른 무언가가 와도 괜찮다는 표시 */
	float	: left;
	
	width	: 180px;
	height	: 91px;
	margin	: 15px 20px;
	
	/* 중앙배치 */
	text-align: center;
}
#header #logoRight {
	/* 해당 블럭 왼쪽에 다른 무언가가 와도 괜찮다는 표시 */
	float	: right;
}

/* 상단 로고 이미지 */
#logo img {
	width	: 100%;
	height	: auto;
	
}

/* -------------------------------- 상단 login -------------------------------- */
#loginDiv {
	/* 우측배치 */
	text-align: right;
	
	/* width 가로폭 */
 	width	: 100%; 
 	height	: 100%; 
}

#loginDiv .loginBtnDiv {
	
	/* width 가로폭 */
 	width	: 100%; 
 	height	: 100%; 
	
	
	/* Flexible Box */
	display	: flex;
	/* Flexible Box 내부 요소를 오른쪽 끝에 붙게 */
	justify-content	: flex-end;
	/* Flexible Box 내부 요소를 하단 끝에 붙게 (1줄 전용) */
	align-items		: flex-end;
	/* Flexible Box 내부 요소를 하단 끝에 붙게 (1줄 이상일 시) */
/* 	align-content	: flex-end; */
	/* Flexible Box 내부 요소를 중간을 띄우고 상하단에 바짝 붙이기 */
/* 	align-content	: space-between; */
	align-content	: flex-start;
	flex-wrap: wrap;
}

#loginDiv .Choonsik {
	/* 폰트 사이즈 */
	font-size	: 13px;
	/* 폰트 색상 */
	color		: #93A603;
	
	margin	: 10px 2px;
	margin-bottom	: 1%;
/* 	margin-right	: 1%; */
	padding	: 4px 4px;
	
	/* 테두리 둥글게 */
	border-radius	: 10px;
	
	/* 배경색 */
/* 	background-color	: #E0E086; */
	
}

#loginDiv p {
	
	/* width 가로폭 */
 	width	: 100%; 
/* 	margin	: 10px 10px; */
	
	/* float에 영향 받지 않고 하단에 깔아두고 싶다는 의미 */
	clear	: both;
}

#loginDiv p span {
	
	/* 폰트 사이즈 */
	font-size	: 15px;
	/* 폰트 색상 */
/* 	color		: #93A603; */
}

/* -------------------------------- 상단 nav -------------------------------- */
/* 상단 메뉴 전체 */
.nav {
	width	: 100%;
	/* float에 영향 받지 않고 하단에 깔아두고 싶다는 의미 */
	clear	: both;
}

.nav * {
	/* 폰트 */
	font-family	: 'ONE-Mobile-POP';
	
	/* 중앙배치 */
	text-align	: center;
/* 	transform	: translateY(-50%); */
	
	background-color	: #AC7B53;
}

/* 상단 메뉴 버튼 영역 */
.nav nav ul li {
	/* 상단 메뉴바 가로 정렬 */
	/* 해당 블럭 오른쪽에 다른 무언가가 와도 괜찮다는 표시 */
	float	: left;
	
	/* 영역 지정 */
	width	: 200px;
	height	: 30px;
	
	/* 영역 확장 */
	padding	: 3px 20px;
	margin-bottom	: 20px;
}

/* 상단 메뉴 버튼 영역 */
.nav .menu_link div {

	/* 폰트 색상 */
	color	: #F0F2CC;
	/* 폰트 사이즈 */
	font-size	: 25px;
	/* 폰트 테두리 */
/* 	text-shadow	: -1px 0 #fff,		0 1px #fff,		1px 0 #fff,		0 -1px #fff, */
/* 				  -1px -1px #fff,	1px -1px #fff,	-1px 1px #fff,	1px 1px #fff; */
	
	/* 영역 지정 */
	width	: 100%;
	height	: 100%;
}

/* 상단 메뉴 버튼 영역에 마우스 올렸을 시 */
.nav .menu_link div:hover {

	/* 폰트 색상 */
	color	: #E0E086;
	/* 폰트 사이즈 */
	font-size	: 25px;
	/* 폰트 테두리 */
/* 	text-shadow	: -1px 0 #fff,		0 1px #fff,		1px 0 #fff,		0 -1px #fff, */
/* 				  -1px -1px #fff,	1px -1px #fff,	-1px 1px #fff,	1px 1px #fff; */
}

/* 상단 메뉴 버튼 영역에 마우스 클릭이후 */
.nav .menu_link .divClick {

	/* 폰트 색상 */
	color	: #E0E086;
	/* 폰트 사이즈 */
	font-size	: 25px;
	/* 폰트 테두리 */
/* 	text-shadow	: -1px 0 #fff,		0 1px #fff,		1px 0 #fff,		0 -1px #fff, */
/* 				  -1px -1px #fff,	1px -1px #fff,	-1px 1px #fff,	1px 1px #fff; */
}

/* -------------------------------- 상단 nav 뒤 -------------------------------- */
#backMenu {
	margin-top	: 121px;
	
	/* width 가로폭 */
 	width	: 100vw; 
 	height	: 36px; 
 	
 	background-color	: #AC7B53;
 	
/*  	opacity: 0; */
 	position :absolute;
/*  	position: relative; */
 	
 	top	: 0;
 	
 	z-index	: -1;
}

/* -------------------------------- 중앙 center -------------------------------- */
/* 중앙 전체 */
#center {
	/* width 가로폭 */
 	width	: 100%; 
 	
	/* float에 영향 받지 않고 하단에 깔아두고 싶다는 의미 */
	clear	: both;
}


/* -------------------------------- 우측 right -------------------------------- */
/* 우측 전체 */
#right {
	/* width 가로폭 */
	width	: 200px;
	
	/* 해당 블럭 왼쪽에 다른 무언가가 와도 괜찮다는 표시 */
	float	: right;
}


/* -------------------------------- 하단 footer -------------------------------- */
/* 하단 전체 */
#footer {
	/* float에 영향 받지 않고 하단에 깔아두고 싶다는 의미 */
	clear	: both;
	/* 해당 박스의 영역을 벗어 나면 보이지 않게끔!! */
	overflow: hidden;
	/* 일단 보기 편하시라고 선그어놨어용 */
/* 	border-top	: 1px solid #ccc; */
	
	text-align: center;
}


/* -------------------------------- 상단 searchBar -------------------------------- */
/* 검색창 몸통 */
#searchBar {
	/* float에 영향 받지 않고 하단에 깔아두고 싶다는 의미 */
	clear	: both;
	
	/* #all_div의 약 67% 가로 폭 */
	width	: 800px;
	height	: 80px;
	
	/* 테두리 둥글게 */
	border-radius	: 10px;
	
	/* 좌우 중앙 정렬 */
	margin	: 0 auto;
	text-align: center;
	
	/* 배경 색상 */
	background-color	: #fff;
	
	/* 화면 스크롤 해도 고정하게 하는 */
	position	: fixed;
	
	/* 위치 지정 */
	top	: 30%;
	right	: 25%;
	
	/* 40층에 쌓아서 아래의 요소보다 위에 드러남 */
	z-index	: 40;
}
/* 신고창 몸통 */
#singo {
	/* float에 영향 받지 않고 하단에 깔아두고 싶다는 의미 */
	clear	: both;
	
	/* #all_div의 약 67% 가로 폭 */
	width	: 800px;
	height	: 80px;
	
	/* 테두리 둥글게 */
	border-radius	: 10px;
	
	/* 좌우 중앙 정렬 */
	margin	: 0 auto;
	text-align: center;
	
	/* 배경 색상 */
	background-color	: #fff;
	
	/* 화면 스크롤 해도 고정하게 하는 */
	position	: fixed;
	
	/* 위치 지정 */
	top	: 30%;
	right	: 25%;
	
	/* 40층에 쌓아서 아래의 요소보다 위에 드러남 */
	z-index	: 40;
	z-index	: 40;
}

/* 검색창 X버튼 */
#searchBar div {
	
	/* #searchBar 사이즈 */
	width	: 13px;
	height	: 19px;
	
	/* 위치 지정 */
	margin-right	: 1%;
	margin-left	: 98%;
}
/* 신고창 X버튼 */
#singo div {
	
	/* #singo 사이즈 */
	width	: 13px;
	height	: 19px;
	
	/* 위치 지정 */
	margin-right	: 1%;
	margin-left	: 98%;
}

/* 검색 시 어둡게 */

#shadow{
	position	: fixed;
	
	left	: 0;
	top		: 0;
	
/*
	px	: 절대 값
	%	: 부모속성의 퍼센트
	vw(idth) & vh(eight) : 현재 창의 사이즈의 퍼센트
*/
	width	: 100vw;
	height	: 100vh;
	
	background	: rgba(0, 0, 0, 0.52);
/* 	display	: none; */
	
	/* 30층에 쌓아서 아래의 요소보다 위에 드러남 */
	z-index	: 30;
}

/* -------------------------------- 사이드바 실험 -------------------------------- */
div[class="sidebar"] {
	width	: 100px;
	height	: 400px;
	background	: #F0F2CC;
	position	: fixed;
	top	: calc(50% - 200px);
	right	: -120px;
	z-index	: 20;
	transition	: all .35s;
	padding: 10px;
	
	
	/* 테두리 둥글게 */
	border-radius	: 10px;
}
input[id="sideMenu"]:checked + label + div {
	right	: 80px;
	z-index	: 29;
}

input[id="sideMenu"] + label {
	display	: block;
	width	: 30px;
	height	: 50px;
	position	: fixed;
	top	: calc(50% - 25px);
	right	: 0;
	transition	: all .35s;
	cursor	: pointer;
	z-index	: 29;
	background-color	: #F0F2CC;
	
	/* 테두리 둥글게 */
	border-radius	: 10px 0 0 10px;
	
}
input[id="sideMenu"]:checked + label {
	right	: 200px;
}

/* -------------------------------- 사이드 바 -------------------------------- */
/* 사이드바 몸통 */
#sideBar {
	
	display: block;
	
	/* width 가로폭 */
	width	: 100px;
	/* height 세로폭 */
/* 	height	: 500px; */
	
	padding: 10px;
	
	/* 중앙 정렬 */
	text-align: center;
	
	/* 테두리 둥글게 */
	border-radius	: 10px;
	
	/* 배경 색상 */
	background-color	: #93A603;
	color	: #000;
	
	/* 화면 스크롤 해도 고정하게 하는 */
	position	: fixed;
	
	overflow	: hidden; /* 반응형 애니메이션용 */
	transition	: all 0.5s ease; /* 반응형 애니메이션 */
	
	/* 위치 지정 */
	top	: 20%;
	right	: 1%;
	
	/* 10층에 쌓아서 아래의 요소보다 위에 드러남 */
	z-index	: 30;
}

.sidebar * {
	/* 폰트 */
	font-family	: 'ONE-Mobile-POP';
}

/* 사이드바 버튼 */
.sidebar li div {
	
	display: block;
	
	/* margin div 주위 영역 */
	margin	: 5px 5px;
	padding: 2px;
	
	/* width 가로폭 */
	width	: 80px;
	/* height 세로폭 */
	height	: 50px;
	
	/* 테두리 둥글게 */
	border-radius	: 10px;
	
	/* 배경색 */
	background-color	: #fff;
	
	/* 마우스 커서 선택 */
	cursor	: pointer;
}







