@charset "UTF-8";

/* Color Theme Swatches in Hex */
.oneYo_2-1-hex { color: #F0F2CC; }	/* 연두1 */
.oneYo_2-2-hex { color: #E0E086; }	/* 연두2 */
.oneYo_2-3-hex { color: #93A603; }	/* 연두3 */
.oneYo_2-4-hex { color: #FCF4EF; }	/* 아이보리 */
.oneYo_2-5-hex { color: #AC7B53; }	/* 연갈색 */

.token {
	/* 구 토큰 */
	/* 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 */
	/* 현 토큰 */
	/* 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 */
}



