@charset "UTF-8";

/* 전체 영역 */
#all_div {
	
}

/* 상단 header */
#header {
	
}

/* 좌측 left */
#left {
	
}

/* ---------------------- 중 앙 - 시작 ------------------- */

/* 중앙 center */
#center {
	
}

/* 중앙 배너 */
.banner {
	width: 90%;
	height: 200px;
	margin: 0px auto;
	border: 1px solid red;
}

/* 인기글 Container */
.favorContainer {
	width: 90%;
	height: 400px;
	margin: 15px auto 0px auto;
	border: 1px solid blue;
}

/* 인기글 타이틀을 묶은 div */
.postTitles {
	margin:0 10%;
	height: 40px;
}

/* 게시판별 인기글 타이틀 */
.favorPostTitle {
	float: left;
	display: flex;  /* 수직 중앙 배치를 위한 display 설정 */
	align-items: center;  /* 수직 중앙 배치 */
	justify-content: center;  /* 수평 중앙 배치 */
	width: 24.6%;
	height: 40px;
	border: 1px solid black;
	cursor: pointer;
}

/* 게시판별 인기글 */
.favorPost {
	width: 85%;
	height: 300px;
	margin: 5px auto 0px auto;
	border: 1px solid green;
}

/* 게시판 div container */
.posts {
	margin: 0 10%;
	border: 1px solid purple; 
}

/* p1: 그림 & p2: 글 */
.p1 {
	float: left;
	width: 49.6%;
	height: 148px;
	border-radius: 20%;
	border: 1px solid red;
}

.p2 {
	width: 99.6%;
	height: 37px;
}

/* 쉐프 소개 */
.chefInfo {
	width: 90%;
	height: 130px;
	margin: 15px auto 0px auto;
	border: 1px solid blue;
}

.chefTop {
	margin-top: 5px;
	width: 100%;
	height: 30px;
}

.chefBody {
	margin-left: auto;
	margin-right: auto;
	width: 98%;
	height: 60px;
}

.chefIcon {
	float: left;
	width: 9.6%;
	height: 58px;
	border-radius: 99%;
	border: 1px solid cyan;
}

/* 레시피 분류 */
.recipeInfo {
	width: 90%;
	height: 130px;
	margin: 15px auto 0px auto;
	border: 1px solid blue;
}

.recipeTop {
	margin-top: 5px;
	width: 100%;
	height: 30px;
}

.recipeBody {
	margin-left: auto;
	margin-right: auto;
	width: 98%;
	height: 60px;
}

.recipeIcon {
	float: left;
	width: 9.6%;
	height: 58px;
	border-radius: 99%;
	border: 1px solid cyan;
}

/* ---------------------- 중 앙 - 끝 -------------------- */

/* 우측 right */
#right {
	
}


/* 하단 footer */
#footer {
	padding-top: 15px;
	height: 80px;
	text-align: center;
}

#footer div span {
	font-size: 10px;
}

