@charset "UTF-8";

/* 전체 영역 */
#all_div {
	
}

/* 상단 header */
#header {
	
}

/* 좌측 left */
#left {
	
}

/* ---------------------- 중 앙 - 시작 ------------------- */

/* 중앙 center */
#center {
	
}

/* 중앙 배너 */
.banner {
	border: 1px solid red;
	width: 718px;
	height: 200px;
	margin: 0px auto;
}

/* 인기글 Container */
.favorContainer {
	width: 718px;
	height: 400px;
	margin: 15px auto 0px;
	border: 1px solid blue;
}

/* 인기글 타이틀을 묶은 div */
.postTitles {
	margin:0 auto;
	width: 540px;
	height: 40px;
	display: flex; /* flex 배치 */
	align-items: center; /* 수직 중앙 배치 */
	justify-content: center; /* 수평 중앙 배치 */
}

/* 게시판별 인기글 타이틀 */
.favorPostTitle {
	float: left;
	display: flex;  /* 수직 중앙 배치를 위한 display 설정 */
	align-items: center;  /* 수직 중앙 배치 */
	justify-content: center;  /* 수평 중앙 배치 */
	width: 130px; /* (133 + 2 * 1) * 4 = 540 */
	height: 40px;
	border: 1px solid black;
	cursor: pointer;
}

@media ( min-width: 2500px ) {
	.favorPostTitle {
		width: 125px;
	}
}

/* 게시판별 인기글 */
.favorPost {
	width: 630px;
	height: 310px;
	padding: 0 4px 0 33px;
	border: 1px solid green;
	margin: 5px auto 0px auto;
	overflow: hidden;
}

.favorPost1 {
	position: absolute;
	z-index: 1;
	background-color: white;
}

.favorPost2 {
	position: absolute;
	z-index: 0;
	background-color: white;
}

.favorPost3 {
	position: absolute;
	z-index: 0;
	background-color: white;
}

.favorPost4 {
	position: absolute;
	z-index: 0;
	background-color: white;
}

/* 게시판 div container */
.posts {
	margin: 0 10%;
	border: 1px solid purple; 
}

/* p1: 그림 & p2: 글 */
.p1 {
	float: left;
	width: 295px;
	height: 148px;
	border-radius: 10%;
	border: 2px solid #EEE;
	box-shadow: 5px 5px 11px #AAA;
	margin: 2px;
}

.p2 {
	width: 595px;
	height: 37px;
	margin: 2px;
}

@media ( min-width: 2500px ) {
	.p1 {
		width: 290px;
	}
	
	.p2 {
		width: 590px;
	}
}

/* 레시피/전문가팁 링크 이미지 */
.p11 {
	float: left;
	padding: 3px;
	border-radius: 15%;
	margin-right: 10px;
	width: auto;
	height: 145px;
	box-shadow: 5px 5px 11px #AAA;
}

/* 레시피/전문가팁 제목, 조회수, 추천수 */
.psubj {
	margin-top: 16px;
	height: 60px;
	overflow: hidden;
}

.pcom {
	margin-right: 10px;
	word-break: keep-all;
}

/* 커뮤니티/공지사항 제목, 조회수, 추천수 */
.psubj2 {
	margin: 5px 5px 0 0;
	float: left;
	height: 20px;
	overflow: hidden;
}

.pcont {
	width: 100px;
	overflow: hidden;
}

.pins {
	width: 50px;
	overflow: hidden;
}

/* 각 게시판 클릭 시 링크 */
.pa {
	cursor: pointer;
}

/* 쉐프 소개 */
.chefInfo {
	width: 90%;
	height: 130px;
	margin: 15px auto 0px auto;
	border: 1px solid blue;
}

.chefTop {
	margin-top: 5px;
	width: 100%;
	height: 30px;
}

.chefBody {
	margin-left: auto;
	margin-right: auto;
	width: 98%;
	height: 60px;
	display: flex; /* flex 배치 */
	align-items: center; /* 수직 중앙 배치 */
	justify-content: center; /* 수평 중앙 배치 */
}

.chefIcon {
	float: left;
	width: 67px;
	height: 58px;
	border-radius: 99%;
	border: 1px solid cyan;
}

@media ( min-width: 2500px ) {
	.chefIcon {
		width: 62px;
	}
}

/* 레시피 분류 */
.recipeInfo {
	width: 90%;
	height: 130px;
	margin: 15px auto 0px auto;
	border: 1px solid blue;
}

.recipeTop {
	margin-top: 5px;
	width: 100%;
	height: 30px;
}

.recipeBody {
	margin-left: auto;
	margin-right: auto;
	width: 98%;
	height: 60px;
	display: flex; /* flex 배치 */
	align-items: center; /* 수직 중앙 배치 */
	justify-content: center; /* 수평 중앙 배치 */
}

.recipeIcon {
	float: left;
	width: 67px;
	height: 58px;
	border-radius: 99%;
	border: 1px solid cyan;
}

@media ( min-width: 2500px ) {
	.recipeIcon {
		width: 62px;
	}
}

/* ---------------------- 중 앙 - 끝 -------------------- */

/* 우측 right */
#right {
	
}


/* 하단 footer */
#footer {
	padding-top: 15px;
	height: 80px;
	text-align: center;
}

#footer div span {
	font-size: 10px;
}

