@charset "UTF-8";

/* -------------------------------- 전체 영역 -------------------------------- */
#all_div {
	
}

/* -------------------------------- 상단 header -------------------------------- */
#header {
	
}

/* -------------------------------- 좌측 left -------------------------------- */
#left {
	
}

/* -------------------------------- 중앙 center -------------------------------- */
#center {
/* 	height	: 700px; */
}

#anne {
	
	border-bottom	: 1px solid;
}

.grade_btn .gradeTitle {
	position: relative;
	top: 70px;
	z-index	: 8;
}

.grade_btn .gradeTitle span {
	/* 글자테두리 */
	text-shadow	: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff, -2px -2px #fff, 2px -2px #fff, -2px 2px #fff, 2px 2px #fff;
	/* 폰트 */
	font-family	: 'ONE-Mobile-POP';
	font-size	: 30px;
}

.grade_btn table {
	margin	: 0 auto;
	margin-top	: -20px;
}

.grade_btn td {
	width	: 190px;
	
	/* 중앙배치 */
	text-align: center;
}

.grade_btn .between {
	width	: 100px;
}
.grade_btn #beLeft {
	border-right	: 1px solid;
	height	: 150px;
	margin-top	: 80%;
}

.grade_btn .btn {
	margin-top	: 11px;
}

.btn img {
	width	: 100%;
	height	: auto;
}

/* -------------------------------- 우측 right -------------------------------- */
#right {
	
}

/* -------------------------------- 하단 footer -------------------------------- */
#footer {
	
}