@charset "UTF-8";

/* 댓글 기능 있는 곳에만 적용될 댓글 꾸미기 */
/*
<!-- 댓글 기능 전용 -->
<link rel="stylesheet" href="/oneYo/resource/css/common/commentForm.css">
*/



#center .comments {
	width	: 800px;
	margin	: 10px auto;
	
	
	/* 테두리 둥글게 */
	border-radius	: 30px;
	background-color	: #FCF4EF;
}


/* 입력 칸의 부모 */
#inputComment {
	
	width	: 700px;
	
	/* 정렬 편집용 세팅 */
	display	: flex;
	flex-wrap	: wrap;
	justify-content	: flex-end;
	
	margin	: 20px auto;
	
}

/* 입력하는 사람 닉네임 */
#inputComment #inputNick {
	width	: 100%;
	
	margin-top	: 50px;
	margin-bottom	: 10px;
}

/* 입력하는 내용을 담은 div */
#inputComment #insertNeyong {
	width	: 100%;
	margin	: auto;
/* 	margin-left	: 5px; */
}
#inputComment #insertNeyong #cocontent {
	width	: 95%;
	/* 높이조절 */
	resize	: vertical;
	border	: none;
	font-size	: 18px;
	padding	: 8px;
	border-radius	: 15px;
}
#inputComment #insertNeyong #cocontent:focus {
	outline	: none;
}

/* 입력하는 버튼 */
#inputComment #insertBtn {
	height	: 35px;
	padding	: 0 12px;
	
	font-size	: 15px;
	  
	color	: #666;
	
	margin-right	: -1%;
	
	text-align	: center;
	line-height: 35px;
}
/* 입력하는 버튼 */
#inputComment #insertBtn:hover {
	
	color	: #fff;
	background-color	: #AC7B53;
	
	border-radius	: 15px;
}











#commentList {
	
	width	: 700px;
	
	/* 정렬 편집용 세팅 */
	display	: flex;
	flex-wrap	: wrap;
	
	margin	: 0 auto;
	
}

#commentList .item {
	
	width	: 100%;
	
	/* 정렬 편집용 세팅 */
	display	: flex;
	flex-wrap	: wrap;
	justify-content	: space-between;
	
	margin	: 20px auto;
	
}
/* 작성자+작성일 */
#commentList .item .wriday {
	
	/* 정렬 편집용 세팅 */
	display	: flex;
	align-items: flex-end;
	
	margin-left	: 3px;
	
}
/* 작성자 */
#commentList .item .wriday .writer {
	
	font-size	: 17px;
	color	: #AC7B53;
	
	margin-right	: 10px;
	
}
/* 작성일 */
#commentList .item .wriday .insertdate {
	
	font-size	: 13px;
	color	: #777;
	
}
/* 댓글내용 */
#commentList .item .cocontent {
	
	width	: 98%;
	
	
	margin	: 0 auto;
	margin-top	: 12px;
	
}
/* 삭제버튼 */
#commentList .item .deleteBtn {
	
	font-size	: 15px;
	
	padding	: 5px 12px;
	
	color	: #666;
	
	margin-right	: 20px;
	
}
/* 삭제버튼 마우스오버 */
#commentList .item .deleteBtn:hover {
	
	
	border-radius	: 10px;
	background-color	: #AC7B53;
	color	: #fff;
}








.chong {
	
	width	: 700px;
	
	/* 정렬 편집용 세팅 */
	display	: flex;
	align-items	: flex-end;
	
	margin	: 5px auto;
	
}
.chong span {
	
	font-size	: 22px;
	
	margin-right	: 10px;
	
	color	: #AC7B53;
	
}
.chong p {
	
	font-size	: 20px;
	
	color	: #AC7B53;
}








.comments #commentList hr {
	
	width	: 700px;
	margin	: 2px auto;
	
	
	border	: 0;
	border-top	: 1px dashed #AC7B53;
		
}
.comments .hrhr {
	
	width	: 700px;
	
	margin	: 0 auto;
	
	border	: 0;
	border-top	: 1px solid #AC7B53;
	
}


/* 빈공간 */
.nullDiv {
	
	height	: 15px;
	
}




