@charset "UTF-8";

/* 페이징 기능 있는 곳에만 적용될 댓글 꾸미기 */
/*
<!-- 페이징 기능 전용 -->
<link rel="stylesheet" href="/oneYo/resource/css/common/paging.css">
*/

.link{
		margin:2px;
		list-style-type:none;
		float:left;
		padding:9px 15px 9px 15px;
		border:1px solid #ebebeb; 
		}
	.hi{
		color:#888;
		text-decoration: none;
		font-weight: 500;
	}

	.hello{
	color:#ff5e5e;
		text-decoration: none;
		
	}
	#list{
		text-align:center;
		
	}
	#block{
	display:inline-block;
	}