@charset "UTF-8";

.loginSNS {
	width:70%;
	height:50px;
	cursor:pointer;
	 border-radius: 5px;
}


/* -------------------------------- 전체 영역 -------------------------------- */
#all_div {
	 
}

/* -------------------------------- 상단 header -------------------------------- */
#header {
	
}


/* -------------------------------- 중앙 center -------------------------------- */

#center {
	 margin: auto;
    
}

#login_Form{
	 width: 500px;
     height : 600px;
     background-color: white;
     border-radius: 30px;
     text-align: center;
     padding: 20px;
	 border-color: #93A603;
	  margin: auto;
     box-shadow: 0px 5px 20px -5px;
	
}

#center table{
	align:center;	
	overflow : hidden; /*테두리 영역 넘어가면 숨김*/
	margin:auto;
}

.logo{
	 width:300px; 
	 height:150px;
 	 text-align:center;
 	 display : block;
 	 margin:auto;
	
}

hr {
    background:#93A603;
    height:1px;
    border:0;
}


/* 아이디, 비밀번호 옆에 있는 아이콘*/
.loginImg{
	width : 40px; 
	height : 40px;
	vertical-align: middle;
}
#center #login {
	font-size : 30px;
/* 	padding: 15px; */

	
}

#center input {
    height: 45px;
    width: 300px;
    margin-bottom: 10px;
/*     background-color:#FAFAFA; */
    outline: none; /*테두리제거*/
    border : none;
/*     border: #EFEFEF 1px solid; */
/*     border-radius: 6px; */
    padding-left: 10px;
}

/* 로그인 버튼 */
#loginButton {
   			font-size : 14px;
            color : #93A603;
            border-radius: 5px;
            background-color: white;
         	border:3px solid #93A603;
            width: 65%;
            height:40px;
            margin-top:20px;
         	margin-bottom: 20px;
         	letter-spacing: 1px;
         	cursor:pointer;
        }      
        
 #loginButton:hover {
      	    font-size : 14px;
      	    font-weight: bold;
            color : white;
            border-radius: 5px;
            background-color: #93A603;
            border : none;
            width: 65%;
            height:40px;
            margin-top:20px;
         	margin-bottom: 20px;
         	letter-spacing: 1px;
         	
        }
        
/*sns로그인*/        
#snslogin {
  	font-size : 14px;
  	color : #444;
  }

/* 아이디 , 비밀번호 찾기 영역*/
#center .alink{
padding-bottom: 20px;
}

#center .alink a:hover {
	color:#93A603;
}

/* -------------------------------- 하단 footer -------------------------------- */
#footer {
	
}