<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
		  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		
		<typeAlias type="main.ict.mem.vo.MemVO" alias="memvo"/>
		<typeAlias type="main.ict.community.vo.CommunityVO" alias="communityvo"/> 	<!-- 커뮤니티 -->
		<typeAlias type="main.ict.notice.vo.NoticeVO" alias="noticevo"/>			<!-- 공지사항 -->
 		<typeAlias type="main.ict.tip.vo.TipVO" alias="tipvo"/>						<!-- 전문가팁 -->
 		<typeAlias type="main.ict.recipe.vo.RecipeVO" alias="recipevo" />			<!-- 레시피 -->
		<typeAlias type="main.ict.warning.vo.LevelupVO" alias="levelupvo"/>			<!-- 등업 -->
		<typeAlias type="main.ict.warning.vo.WarningVO" alias="warningvo"/>			<!-- 신고 -->
		<typeAlias type="main.ict.comment.vo.CommentVO" alias="commentvo"/> 		<!-- 댓글 -->
		
	</typeAliases> 
</configuration>  
