<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
		  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		
		<typeAlias type="main.ict.mem.vo.MemVO" alias="memvo"/>
		<typeAlias type="main.ict.community.vo.CommunityVO" alias="communityvo"/> <!-- 커뮤니티 -->
		<typeAlias type="main.ict.notice.vo.NoticeVO" alias="noticevo"/>
 		<typeAlias type="main.ict.tip.vo.TipVO" alias="tipvo"/>
 		<typeAlias type="main.ict.recipe.vo.RecipeVO" alias="recipevo" />			<!-- 레시피 -->
<!-- 		<typeAlias type="main.ict.warning.vo.LevelupVO" alias="levelupvo"/> -->
		<typeAlias type="main.ict.warning.vo.WarningVO" alias="warningvo"/> 
	</typeAliases> 
</configuration>  
